<header>
    <div id=burger>
        <div>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <a href="/">
        <img id="logo" src="{{ 'x1.png' | asset_url }}" width=400/>
    </a>
</header>