/*
    CSS Stylesheet for XTENDED
    Author: Sheldon Codling
    Website: www.sheldonc.ca
    Description: This stylesheet contains the custom styles for the Xtended shopify theme.
    Date: March 18th
*/

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "Futura";
    src: url("{{ 'Futura_Extra_Black_font.ttf' | asset_url }}") format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.search-box {
    @apply border-[3px] border-green rounded-full bg-transparent bg-no-repeat px-12 font-futura;
    background-image: url("{{ 'search.svg' | asset_url }}");
    background-size: 1.25rem;
    background-position: center left 1rem;
}

.email-box {
    @apply font-futura text-center w-[65%] mx-auto h-8 rounded-lg cursor-pointer;
}

.icons {
    @apply flex justify-between h-11 w-40 mx-auto my-4;
}

/* Carousel stuff */
.carousel {
    @apply border-[0.25rem] border-light-grey w-full overflow-hidden;
    aspect-ratio: 0.77 / 1;
}
.carousel_item {
    width: calc(100% / 6);
    height: 100%;
}

/* Navigation stuff */
#mobile_nav_buttons a {
    @apply font-futura bg-black p-4 text-center;
}

#mobile_nav a {
    @apply font-futura text-green text-xl py-3
}

#desktop_nav #left > a {
    @apply text-green !font-futura;
}

/* Blog page stuff */
.article_container {
    @apply border-[0.25rem] border-light-grey w-[90%] overflow-hidden mx-auto mb-6 relative bg-cover bg-center;
    aspect-ratio: 1.25 / 1;
}

/* Pagination stuff */
#paginate_controls > *  {
    @apply mx-1;
}

/* Contact form stuff */
#contact_form {
    @apply flex flex-col items-center w-[90%] mx-auto;
}
#contact_form > input:not([type="submit"]), #contact_form > textarea {
    @apply border-green border mb-2 w-full bg-black px-2;
}
#contact_form > input:not([type="submit"]) {
    @apply h-8;
}
#contact_form > textarea {
    @apply py-1;
}

/* Media query for "lg" screen */
@media only screen and (min-width: 1280px) {
    .carousel {
        aspect-ratio: 1.26/1;
    }
}

