/*
    CSS Stylesheet for XTENDED
    Author: Sheldon Codling
    Website: www.sheldonc.ca
    Description: This stylesheet contains the custom styles for the Xtended shopify theme.
    Date: March 18th
*/

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "Futura";
    src: url("{{ 'Futura_Extra_Black_font.ttf' | asset_url }}") format('truetype');
}

* {
    box-sizing: border-box;
}

.search-box {
    @apply border-[3px] border-green rounded-full bg-transparent bg-no-repeat px-12 font-futura;
    background-image: url("{{ 'search.svg' | asset_url }}");
    background-size: 1.25rem;
    background-position: center left 1rem;
}

.email-box {
    @apply font-futura text-center w-[65%] mx-auto h-8 rounded-lg mb-2 cursor-pointer;
}

.icons {
    @apply flex justify-between h-11 w-40 mx-auto my-3;
}

/* Carousel stuff */
.carousel {
    @apply border-[0.25rem] border-light-grey w-full overflow-hidden;
    aspect-ratio: 0.77 / 1;
}
.carousel_item {
    width: calc(100% / 6);
    height: 100%;
}

#mobile_nav_buttons a {
    @apply font-futura bg-black p-4 text-center
}