<a href="{{ article.metafields.custom.instagram_url }}"><img src="{{ article.image | image_url }}" width=200 id="featured_header_img"></a>


<div id="article_container">
    <article>
        <h2>INTERVIEWS</h2>
        {{ article.content }}
    </article>
</div>