<div id="carousel">

</div>

<div class="mobile">
    <div id="mobile_nav_buttons">
        <a href="">ARTICLES</a>
        <a href="">INTERVIEWS</a>
        <a href="">ABOUT</a>
        <a href="">CONTACT</a>
    </div>
</div>