{% assign group_articles = blogs["articles"].articles | concat: blogs["interviews"].articles %}
{% assign carousel_articles = group_articles | sort: "published_at" | reverse %}


<div id="content_container">
    <div id="carousel">
        {% for article in carousel_articles %}
            <div class="carousel-item">
                <img src="//xtended-test.myshopify.com/cdn/shop/{{ article.image | image.url }}">
                <p>{{ article.image | image.url }}</p>
            </div>
        {%- endfor %} 
    </div>

    <div class="mobile">
        <div id="mobile_nav_buttons">
            {% for link in linklists.mobile-menu.links -%}
                {{ link.title | upcase | link_to: link.url }}
            {%- endfor %}
        </div>
    </div>
</div>