<div id="article_container">
    <article>        
        <div class="page_heading">
            <h1 class="futura">{{ page.title | upcase }}</h1>
            <h2 class="futura">Send a message for business inquires</h2>
        </div>
        <div class="page_heading">
            {{ page.content }}
        </div>
        
        {% form 'contact' %}
            {{ form.errors | default_errors }}
            <input type="text" name="contact[name]" id="name"  placeholder="Name"/>  
            <input type="email" name="contact[email]" id="email"  placeholder="Your email"/>
            <input type="text" name="contact[twitter]" id="twitter"  placeholder="@"/>
            <textarea name="contact[body]" id="message" rows=5 placeholder="Message"></textarea>
            <input type="submit" value="Create" />
        {% endform %}        
        
    </article>
</div>