<div id="article_container">
    <div id="article_container" class="bg-[#000] py-4">
        <article class="w-[90%] mx-auto">        
            <h2 class="font-futura text-green text-center mb-2">{{ page.title | upcase }}</h1>
            <h2 class="font-futura text-2xl text-center pb-2 mb-4 border-b-2 border-green">OUR STORY</h2>
            {{ page.content }}
        </article>
    </div>
</div>