<div id="article_container">
    <article>        
        <div class="page_heading">
            <h1 class="futura">{{ page.title | upcase }}</h1>
            <h2 class="futura">OUR STORY</h2>
        </div>
        {{ page.content }}
    </article>
</div>