<div id="article_container" class="w-full max-w-[60rem] mx-auto bg-[#000] py-4 lg:text-xl lg:py-12 lg:my-12">
    <div id="article_container" class="bg-[#000] py-4">
        <article class="w-[90%] mx-auto lg:w-[70%]">        
            <h2 class="font-futura text-green text-center mb-2 lg:text-2xl lg:mb-4">{{ page.title | upcase }}</h1>
            <h2 class="font-futura text-2xl text-center pb-2 mb-4 lg:text-6xl lg:pb-4">Send a message for business inquires</h2>
            <div class="py-4 mb-4 border-y-2 border-green text-green lg:mb-12">
                <div class="px-[10%] mx-auto text-center text-sm lg:text-2xl">{{ page.content }}</div>
            </div>

            {% form 'contact' %}
            {{ form.errors | default_errors }}
            <input type="text" name="contact[name]" id="name"  placeholder="Name"/>  
            <input type="email" name="contact[email]" id="email"  placeholder="Your email"/>
            <input type="text" name="contact[twitter]" id="twitter"  placeholder="@"/>
            <textarea name="contact[body]" id="message" rows=5 placeholder="Message"></textarea>
            <input type="submit" value="Send" class="self-start bg-green py-2 px-6 text-black font-futura text-lg rounded-md"/>
            {% endform %}
            
        </article>
    </div>
</div>